 <div class="col-sm-2" style="background-color: #2F4F4F; position: fixed;" id="menu">
	<ul class="nav flex-column" id="menu">
		
		<li>
			<a routerLink="/sieuthi"><span class="glyphicon glyphicon-dashboard" data-parent="#menu" aria-multiselectable="true" ></span>&nbsp;&nbsp; Dashboard</a> 
		 
		<li>
			<a routerLink="/sieuthi/dathang" routerLinkActive="on">
				<span class="glyphicon glyphicon-list-alt" aria-multiselectable="true"></span>
				&nbsp;&nbsp; Đặt hàng
				<i class="fa fa-caret-down"></i>
			</a>
		</li>
 
		<li>
			<a routerLink="/sieuthi/quanlydonhang" routerLinkActive="active">
				<span class="glyphicon glyphicon-shopping-cart"></span>
				&nbsp;&nbsp; Quản lý đơn hàng
				<i class="fa fa-caret-down"></i>
			</a> 
		</li>

		<li>
			<a href="#demo3">
				<span class="glyphicon glyphicon-list-alt"></span>
				&nbsp;&nbsp; Thống kê
				<i class="fa fa-caret-down"></i>
			</a> 
		</li> 

	</ul>
</div>