<app-header-npp name="ncc"></app-header-npp>
<!-- Chua menu cua nha phan phoi -->
<div class="container-fluid" style="height: 100vh;">
	<div class="row">
		<app-sign-in ></app-sign-in>
		<div class="col-sm-10 col-sm-offset-2"> 
			<div id="title">
				<h3>Danh sách sản phẩm</h3>		 
			</div>
			<hr> 

			<form (ngSubmit)="onSubmit();" [formGroup]="formSearch">
				<!-- Chua cac thanh tim kiem san pham theo ten, ma san pham -->
				<div class="form-group" style="margin-top: 20px;">
					<div class="row">
						<div class="col-sm-3">
							<input type="text" placeholder="Nhập tên hàng hóa..." class="form-control" formControlName="name">
						</div>
						<div class="col-sm-3">
							<input type="text" placeholder="Nhập mã hàng hóa..." class="form-control" formControlName="code">
						</div>
						<div class="col-sm-3">
							<select class="form-control">
								<option selected="">Chọn loại hàng hóa</option>
							</select>
						</div>
						<div class="col-sm-3">
							<button type="submit" class=" btn btn-primary" name="timkiem"><span class="glyphicon glyphicon-search"></span>Tìm kiếm</button>
						</div>
						 
					</div> 
				</div>

				<!-- Button them hang hoa moi -->
				<div class="modal-footer" *ngIf="addProduct">
					<button (click)="addProduct = !addProduct" class="btn btn-primary">Thêm hàng hóa</button>
				</div>
 				
 				<!-- Bang chua danh sach hang hoa da co cua nha cung cap -->
				<div class="form-group" style="margin-top: 30px;" *ngIf="addProduct">
					<table class="table table-striped">
						<thead>
							<th>STT</th>
							<th>Mã sản phẩm</th>
							<th>Tên sản phẩm</th>
							<th>Nhóm sản phẩm</th>
							<th>Mô tả</th>
							<th>Ảnh</th>
							<th>Giá</th>
							<th>Action</th> 
						</thead>
						<tbody>
							<tr>
								<td>1</td>
								<td>laa</td>
								<td>rau muong</td>
								<td>1</td>
								<td>Ngon, bổ, rẻ</td>
								<td>link ảnh</td>
								<td>70000</td>
								<td>
									<button (click)="deleteProduct('laa')">Xóa</button>
								</td>
							</tr> 

						</tbody>
					</table>
				</div>

				<!-- Bang chua danh sach hang hoa chua co va muon them cua nha cung cap -->
				<div class="form-group" style="margin-top: 30px;" *ngIf="!addProduct">
					<table class="table table-striped">
						<thead>
							<th>STT</th>
							<th>Mã sản phẩm</th>
							<th>Tên sản phẩm</th>
							<th>Nhóm sản phẩm</th>
							<th>Mô tả</th>
							<th>Ảnh</th>
							<th>Giá</th>
							<th>Action</th> 
						</thead>
						<tbody>
							<tr>
								<td>1</td>
								<td>laa</td>
								<td>rau muong</td>
								<td>1</td>
								<td>Ngon, bổ, rẻ</td>
								<td>Link ảnh</td>
								<td>70000</td>
								<td class="form-check">
									<input type="checkbox" class="form-check-input">
								</td>
							</tr>
							<tr>
								<td>1</td>
								<td>laa</td>
								<td>rau muong</td>
								<td>1</td>
								<td>Ngon, bổ, rẻ</td>
								<td>Link ảnh</td>
								<td>70000</td>
								<td class="form-check">
									<input type="checkbox" class="form-check-input">
								</td>
							</tr>  
						</tbody>
					</table>

					<div>
						<button class="btn btn-primary" (click)="insertProduct();">Lưu</button>
						<button class="btn btn-primary" style="margin-left: 2%" (click)="addProduct=!addProduct">Hủy</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
 