<app-header-npp name="npp"></app-header-npp>
<!-- Chua menu cua nha phan phoi -->
<div class="container-fluid" style="height: 100vh;">
	<div class="row">
		<app-npp check="isShow1"></app-npp>
		<div class="col-sm-10">
			<div style="margin-top: 30px;">
				<ol class="breadcrumb">
				  <li><a routerLink="/nhaphanphoi" style="text-decoration: none;">
				  	<i class="glyphicon glyphicon-home"></i>Trang chủ</a></li>
				  	<li class="active"><a routerLink="/hethongsanpham/danhsachsanpham" style="text-decoration: none;">Danh sách sản phẩm</a></li>
				  <li class="active">Cập nhật sản phẩm</li> 
				</ol>		 
			</div>  
			<form (ngSubmit)="onSubmit(formUpdateProduct)" [formGroup]="formUpdateProduct">
				<!-- Form chua cac thong tin can dien de tao moi san pham -->
				<div class="form-group">
					<label for="exampleInputName">Tên sản phẩm: <span class="dau">*</span></label>
					<div class="input-group">
						<span class="input-group-addon">
							<i class="glyphicon glyphicon-user"></i> 
						</span>
						<input type="text" class="form-control" formControlName="name" required="" >
					</div>
				</div>
				<div class="form-group">
					<label for="exampleInputPrice">Giá sản phẩm(VND): <span class="dau">*</span></label>
					<div class="input-group">
						<span class="input-group-addon">
							<i class="glyphicon glyphicon-qrcode"></i>
						</span>
						<input type="text" pattern="[0-9]*" class="form-control" id="exampleInputPrice" formControlName="price" required="">
					</div>
					<p *ngIf="formUpdateProduct.get('price').invalid && formUpdateProduct.get('price').dirty" style="color: red;">Price invalid</p>
				</div>

				<div class="form-group" style="text-align: left;">
				    <label for="exampleInputType">Nhóm sản phẩm: <span class="dau">*</span></label>
				    <div class="input-group">
				      	<span class="input-group-addon">
				        	<i class="glyphicon glyphicon-list-alt"></i>
				      	</span>
				      	<select class="form-control" id="exampleInputType"  required=""  [(ngModel)]="selectedType" [ngModelOptions]="{standalone: true}">
							<option *ngFor="let type of product_type" value="{{type}}">{{type}}</option> 
						</select>
				    </div>
			  	</div>

				<div class="form-group">
					<label for="exampleInputImage">Upload ảnh sản phẩm: <span class="dau">*</span></label>
					<br>
					<input type="file" class="btn btn-danger" accept=".jpg, .png" (change)="changeListner($event)" style="color: white;" formControlName="image" value="C://chanh.jpg"> 
					<img class="image" src="{{image}}">
				</div>

				<div class="form-group">
					<label for="exampleInputDescription">Thông tin thêm về hàng hóa: <span class="dau">*</span></label>
					<div class="input-group">
						<textarea class="form-control" cols="150" id="exampleInputDescription" formControlName="description" required=""></textarea>
					</div>
				</div>
				 
				<div>
					<button [disabled]="formUpdateProduct.invalid" type="submit" class=" btn btn-primary" name="taomoi">Cập nhật</button>
				</div>	
			</form>

		</div> 
	</div>
</div>
 