<app-header-npp name="npp"></app-header-npp>
<!-- Chua menu cua nha phan phoi -->
<div class="container-fluid" style="height: 100vh;">
	<div class="row">
		<app-npp></app-npp>
		<div class="col-sm-10 col-sm-offset-2">
			<div id="title">
				<h3>Thông tin chi tiết kho hàng {{id}}</h3>		 
			</div>
			<hr> 
			<app-menu-chi-tiet-kho-hang></app-menu-chi-tiet-kho-hang>
			<h2><b>Lịch sử kho hàng</b></h2>
			<form (ngSubmit)="onSubmit();" [formGroup]="formSearch">
				<!-- Chua cac thanh tim kiem san pham theo ten, ma san pham -->
				<div class="form-group" style="margin-top: 20px;">
					<div class="row">
						<div class="col-sm-3">
							<input type="text" placeholder="Nhập tên hàng hóa..." formControlName="name">
						</div>
						<div class="col-sm-3">
							<input type="text" placeholder="Nhập mã hàng hóa..." formControlName="code">
						</div>
						<div class="btn-group">
							<div class="col-sm-3">
								<button type="submit" class=" btn btn-primary" name="timkiem"><span class="glyphicon glyphicon-search"></span>Tìm kiếm</button>
							</div>
						</div>
					</div> 
				</div>

				<!-- Hien thi bang chua thong tin lich su luu chuyen san pham cua kho hang -->
				<div class="form-group" style="margin-top: 30px;">
					<table class="table table-striped">
						<thead>
							<th>STT</th>
							<th>Mã sản phẩm</th>
							<th>Tên sản phẩm</th>
							<th>Kho nguồn</th>
							<th>Kho đích</th>
							<th>Số lượng</th>
							<th>Ngày sản xuất</th>
							<th>Ngày sử dụng</th>
						</thead>
						<tbody>
							<tr>
								<td>1</td>
								<td>laa</td>
								<td>rau muong</td>
								<td>1</td>
								<td>2</td>
								<td>30</td>
								<td>09-02-2019</td>
								<td>15-02-2019</td>
							</tr>
							<!-- {% for row in form %}
								{% if not forloop.last %}
									<tr>
										<td>{{forloop.counter}}</td>
										<td>{{row.code}}</td>
										<td>{{row.name}}</td>
										<td>{{row.container_from}}</td>
										<td>{{row.container_to}}</td>
										<td>{{row.amount}}</td>
										<td>{{row.manufacturing_date}}</td>
										<td>{{row.expiry_date}}</td>
									</tr>
								{% endif %}
							{% endfor %} -->
						</tbody>
					</table>
				</div>
			</form>
		</div>
	</div>
</div>