 <div class="col-sm-2" style="background-color: #2F4F4F" id="menu">
	<ul class="nav flex-column" id="menu">
		<li>
			<a routerLink="/nhacungcap"><span class="glyphicon glyphicon-dashboard" data-parent="#menu" aria-multiselectable="true"></span>&nbsp;&nbsp; Dashboard</a>
			    
		</li>
		 
		<li>
			<a routerLink="/nhacungcap/danhsachsanpham">
				<span class="glyphicon glyphicon-list-alt" aria-multiselectable="true"></span>
				&nbsp;&nbsp; Danh sách sản phẩm
				<i class="fa fa-caret-down"></i>
			</a>
		</li>
 
		<li>
			<a routerLink="/nhacungcap/quanlydonhang">
				<span class="glyphicon glyphicon-shopping-cart"></span>
				&nbsp;&nbsp; Quản lý đơn hàng
				<i class="fa fa-caret-down"></i>
			</a> 
		</li>
	</ul>
</div>
